.CO_Sidebar li:hover {
    background: #E7EAEE;
}

.CO_Sidebar li.active {
    background: #E7EAEE;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent!important;
    border: 0px!important;
    border-bottom: 3px solid #047857!important;
}

.SearchBox {
    background: #F7F8F9;
}

.MainTable {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin: 10px 0px;
    border: 1px solid #f7f8f9;
}

.table>:not(caption)>*>* {
    padding: .9rem .5rem!important;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

table.table th {
    font-weight: 400;
    font-size: 14px;
}

.active>.page-link, .page-link.active {
    z-index: 3;
    color: #000!important;
    background-color: #F7F9FC!important;
    border-color: #F7F9FC!important;
}

.page-link {
    padding: 8px 15px!important;
    color: #858D9D!important;
    border: 0px solid #000!important;
    border-radius: 10px;
}

.btn-primary {
    --bs-btn-bg: #00285d!important;
    --bs-btn-border-color: #00285d!important;
}

.btn-primary:hover {
    background-color: #00234f !important;
    border-color: #00234f !important;
}

img.Avatar_img.rounded {
    width: 80px;
}

.paraText{
    color: #64748B;
}

.UseDetailPages {
    background: #F8F8F8;
    padding: 20px;
    border-radius: 10px;
}

.AddFieldBtn {
    margin-top: 1.9rem;
}

.Plans {
    padding: 20px;
    background: #E7EAEE;
    border-radius: 10px;
}

.MainLoader {
    height: 100vh;
    background: #0000002e;
    position: absolute;
    width: 100%;
}

.bg-white{
background-color: #fff;
}

.chiled-row{
    justify-content: center;
    align-items: center;
    height:  100%;
    width:100%;
}
.maindiv{
    height: 100vh;
    background: #E9EEED;
}
.error{
    color: red;
}